#header{
  background-image: url(../assets/backgrounds/h_img.jpg);
  text-align: center;
}
.about{
  text-align: center;
}
#service{
  background-image: url(../assets/backgrounds/s_image.jpg);
  color: white;
}
.hide{
  display: none;
}
h5{
  font-weight: bold;

}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}
.form-cont input {
  width: 49%;
  background: transparent;
}
.form-cont textarea {
  margin-top: 10px;
  width: 100%;
  background: transparent;
}
#contact{
  background-image: url(../assets/backgrounds/c_image.jpg);
  padding-top: 50px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: cover;
  width: 100%;
  max-width: 100%;
  margin-top: 2%;
  color: white;

}
.form-cont {
  text-align: center;
  position: relative;
  width: 700px;
  max-width: 100%;
  left: 50%;
  transform: translate(-50%);
  color: white;
}
#name, #email{
  margin-top: 10px;
  background: transparent;
  border: 1px solid black;
  color: white;
}
#message{
  margin-top: 10px;
  background: transparent;
  border: 1px solid black;
  color: white;
}
::placeholder {
  color:white;
  opacity: 1;
}
.footer-text-center{
  margin-top:2px
}
